.demo-view-page-section {
    .demo-view-page-section__header {
        font-size: 18pt;
        font-weight: 100;

        text-align: center;

        color: #720080;

        padding: 20px;
    }
}