.demo-view-page-section {
    height: 100%;

    display: flex;

    flex-direction: column;

    .demo-view-page-section__header {

        font-size: 1.5rem;
        font-weight: 100;

        text-align: center;

        color: #720080;

        padding: 20px;
    }

    .demo-view-page-section__body {
        display: flex;

        flex-direction: column;
        
        justify-content: center;
    }
}