@demo-overlay-size-collapsed: 120px;
@demo-overlay-size-inflated: 130px;
@demo-overlay-size-fullscreen: 200%;

@demo-overlay-inflation-duration: .15s;
@demo-overlay-inflation-function: ease-out;

@demo-overlay-fullscreen-inflation-duration: 2s;
@demo-overlay-fullscreen-inflation-function: ease-out;

@background-expansion-factor: 2;

@keyframes background-expansion-width-bound {
    0% {
        width: 0;
        height: 0;

        border-top-right-radius: 100%;
    }

    100% {
        width: @background-expansion-factor * 100vw;
        height: @background-expansion-factor * 100vw;

        border-top-right-radius: 100%;
    }
}

@keyframes background-expansion-height-bound {
    0% {
        width: 0;
        height: 0;

        border-top-right-radius: 100%;
    }

    100% {
        width: @background-expansion-factor * 100vh;
        height: @background-expansion-factor * 100vh;   

        border-top-right-radius: 100%;
    }
}

@keyframes content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.demo-view {
    position: absolute;

    display: flex;

    justify-content: space-around;

    justify-items: center;

    flex-direction: column;

    width: 100vw;
    height: 100vh;

    .demo-view__background {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: white;

        @media screen and (orientation: portrait) {
            animation-name: background-expansion-height-bound;
        }

        @media screen and (orientation: landscape) {
            animation-name: background-expansion-width-bound;
        }
    }

    .demo-view__header {
        display: flex;

        flex-direction: column;

        position: relative;

        flex-grow: .5;

        font-size: 3rem;
        font-weight: 100;

        text-align: center;

        justify-content: center;

        color: #720080;
    }

    .demo-view__body {
        position: relative;

        display: flex;

        flex-direction: column;

        justify-content: center;

        flex-grow: 1;

        animation-name: content;

        animation-duration: 0.8s;
        animation-fill-mode: forwards;

        opacity: 0;

        width: 100%;
    }

    .start-demo-button-panel {
        display: flex;

        flex-direction: row;

        justify-content: center;

        margin: 10px;

        .start-demo-button {    
            color: white;
    
            text-align: center;
    
            padding: 15px 20px;
        
            border-radius: 8px;
        
            background-color: gray;
        
            user-select: none;
    
            user-select: none;
    
            &[data-enabled=true] {
                background-color: green;
    
                cursor: pointer;
            }
        }
    }
}


.demo-view__page-selector {
    position: relative;

    top: 0;

    width: 200%;
    height: 100%;

    &[data-page='1'] {
        left: 0;
    }

    &[data-page='2'] {
        left: -100%;
    }

    transition: left .8s ease-in-out;
}

.demo-view__simulators-panel {
    display: flex;

   // height: 100%;

    flex-direction: row;

    align-content: center;
    justify-content: space-evenly;
}